@model MVCForum.Domain.DomainModel.MembershipUser

<div class="side-box">       
    <span class="glyphicon glyphicon-piggy-bank" style="color: pink; font-size: 22px" title="Currency">
        <span style="color: black; vertical-align: text-top;">@Model.Currency</span>
    </span>
    
</div>